// 侧边栏宽度
$sidebar-width: 300px;
// 侧边栏背景颜色
$sidebar-bg-color: #f9fbff;
// 顶部标题高度
$header-height: 60px;
// top 栏高度
$top-height: 60px;

// 底部输入框高度
$footer-height: 60px;

// ai对话内容宽度百分比
$ai-content-width: 75%;

// 输入框宽度
$input-width: 70%;
